header {
    background-color: #7a0f21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative  ;
    padding: 20px;
    }

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav a {
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    width: 90px;
    transition: 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}



#sec1 .conteudo {
    display: flex;          
    justify-content: space-between;
    align-items: center;

}
#sec1 img {
    width: 300px;   
     
    margin-left: 20px;
}