body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}



.header {
  text-align: center;
  background: rgb(92, 0, 31);        
  color: white;
  
}

fieldset {
  background: white;
    border-radius: 12px;
  padding: 1.5rem;
}

form {
    
    padding: 2rem 5rem;
    max-width: 600px;   
    margin: auto;
    border-radius: 20px;
    
    
}

legend {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 1000;
}

.campo {
    margin-bottom: 1.2rem;
}

input { 
  width: 100%;
  padding: 0.4rem;
  margin-top: .3rem;
  border: 1.3px solid #05070a;
  border-radius: 8px;
}

.check {
  width: auto;
  padding: 0rem;
}


select {
  width: 100%;
  padding: 0.4rem;
  margin-top: .3rem;
  border: 1.3px solid #05070a;
  border-radius: 8px;
}

label {
    display: block;
    
}

textarea {

    width: 100%;
  padding: 0.4rem;
  margin-top: .3rem;
  border: 1.3px solid #05070a;
  border-radius: 8px;
}

.linha {
  display: flex;
  gap: 1rem;
}

.botoes {
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius:20px;
  border: none;
}

.botoes:hover {
  background-color: black;
  padding: 13px;
}

.botoes1 {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius:20px;
  border: none;
}

.botoes1:hover {
  background-color: red;
  padding: 13px;
}


